{% extends "master.html"%}
{% load static %}
{% block title %} University Leaderboard {% endblock%}
{% block content %}
    <div class="text-center bg-success-subtle p-3">
        <h1 class="display-1 my-4 text-black fw-bold">UPGRADE University Leaderboard</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10"> <!-- Adjust the width as needed -->
                        <table class="table table-success table-striped table-bordered my-3 box-shadow">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>University</th>
                                    <th>Points Total (Maximum Value 680)</th>
                                    <th>Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uni in myunis %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class=><a href="{% url 'university_detail' uni.id %}" class="text-success text-decoration-none fw-bold">{{ uni.fullname }}</a></td>
                                    <td>{{ uni.overallScore }}</td>
                                    <td>{{ uni.overallGrade }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom container  -->
    <div class="text-center bg-success-subtle p-3">
    </div>
{% endblock %}