{% extends "master.html"%}
{% load static %}
{% block title %} University Leaderboard {% endblock%}
{% block content %}
    <div class="text-center bg-success-subtle p-3">
        <h1 class="display-1 my-4 text-black fw-bold">UPGRADE University Leaderboard</h1>
        <div class="container mb-4">
            <p class="lead fs-4 text-dark">
                Welcome to the UPGRADE Dining Leaderboard, where we celebrate universities leading the charge in sustainable, plant-based dining. We rank universities on their plant-based dining progress using student-reported data and key metrics like menu options, sustainability commitments, and purchasing practices. Every score is <span class="fw-semibold">by students, for students</span>—helping campuses improve while celebrating leaders in sustainable dining.<br>
            </p>
        </div>
    </div>

    <div class="container-fluid px-lg-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 mx-auto"> <!-- Adjust the width as needed -->
                        <table class="table table-success table-striped table-bordered my-3 box-shadow" style="font-size: 1.1rem;">
                            <thead>
                                <tr class="fs-4">
                                    <th class="py-3">Rank</th>
                                    <th class="py-3">University</th>
                                    <th class="py-3">Points Total (Maximum Value 740)</th>
                                    <th class="py-3">Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uni in myunis %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class=><a href="{% url 'university_detail' uni.id %}" class="text-success text-decoration-none fw-bold">{{ uni.fullname }}</a></td>
                                    <td>{{ uni.overallScore }}</td>
                                    <td>{{ uni.overallGrade }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom container  -->
    <div class="text-center bg-success-subtle p-3">
    </div>
{% endblock %}